<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>仓库管理</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="../../vendors/mdi/css/materialdesignicons.min.css">
    <!--<script src="wwwroot\lib\jquery\dist\jquery.js"></script>
    <link href="wwwroot\lib\bootstrap\dist\css\bootstrap.css" rel="stylesheet" />-->
    <link rel="stylesheet" href="../../vendors/base/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- inject:css -->
    <link rel="stylesheet" href="../../css/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="../../images/favicon.png" />

    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <link href="wwwroot\lib\bootstrap\dist\css\bootstrap.css" rel="stylesheet" />
    <script src="wwwroot\lib\jquery\dist\jquery.js"></script>



</head>

<body>
    <div class="container-scroller">
        <!-- partial:../../partials/_navbar.html -->
        <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="navbar-brand-wrapper d-flex justify-content-center">
                <div class="navbar-brand-inner-wrapper d-flex justify-content-between align-items-center w-100">
                    <a class="navbar-brand brand-logo" href="../../index.html"><img src="../../images/logo.svg" alt="logo" /></a>
                    <a class="navbar-brand brand-logo-mini" href="../../index.html"><img src="../../images/logo-mini.svg" alt="logo" /></a>
                    <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                        <span class="mdi mdi-sort-variant"></span>
                    </button>
                </div>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
                <ul class="navbar-nav mr-lg-4 w-100">
                    <li class="nav-item nav-search d-none d-lg-block w-100">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="search">
                                    <i class="mdi mdi-magnify"></i>
                                </span>
                            </div>
                            <input type="text" class="form-control" placeholder="Search now" aria-label="search" aria-describedby="search">
                        </div>
                    </li>
                </ul>
                <ul class="navbar-nav navbar-nav-right">
                    <li class="nav-item dropdown mr-1">
                        <a class="nav-link count-indicator dropdown-toggle d-flex justify-content-center align-items-center" id="messageDropdown" href="#" data-toggle="dropdown">
                            <i class="mdi mdi-message-text mx-0"></i>
                            <span class="count"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="messageDropdown">
                            <p class="mb-0 font-weight-normal float-left dropdown-header">Messages</p>
                            <a class="dropdown-item">
                                <div class="item-thumbnail">
                                    <img src="../../images/faces/face4.jpg" alt="image" class="profile-pic">
                                </div>
                                <div class="item-content flex-grow">
                                    <h6 class="ellipsis font-weight-normal">
                                        David Grey
                                    </h6>
                                    <p class="font-weight-light small-text text-muted mb-0">
                                        The meeting is cancelled
                                    </p>
                                </div>
                            </a>
                            <a class="dropdown-item">
                                <div class="item-thumbnail">
                                    <img src="../../images/faces/face2.jpg" alt="image" class="profile-pic">
                                </div>
                                <div class="item-content flex-grow">
                                    <h6 class="ellipsis font-weight-normal">
                                        Tim Cook
                                    </h6>
                                    <p class="font-weight-light small-text text-muted mb-0">
                                        New product launch
                                    </p>
                                </div>
                            </a>
                            <a class="dropdown-item">
                                <div class="item-thumbnail">
                                    <img src="../../images/faces/face3.jpg" alt="image" class="profile-pic">
                                </div>
                                <div class="item-content flex-grow">
                                    <h6 class="ellipsis font-weight-normal">
                                        Johnson
                                    </h6>
                                    <p class="font-weight-light small-text text-muted mb-0">
                                        Upcoming board meeting
                                    </p>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li class="nav-item dropdown mr-4">
                        <a class="nav-link count-indicator dropdown-toggle d-flex align-items-center justify-content-center notification-dropdown" id="notificationDropdown" href="#" data-toggle="dropdown">
                            <i class="mdi mdi-bell mx-0"></i>
                            <span class="count"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="notificationDropdown">
                            <p class="mb-0 font-weight-normal float-left dropdown-header">Notifications</p>
                            <a class="dropdown-item">
                                <div class="item-thumbnail">
                                    <div class="item-icon bg-success">
                                        <i class="mdi mdi-information mx-0"></i>
                                    </div>
                                </div>
                                <div class="item-content">
                                    <h6 class="font-weight-normal">Application Error</h6>
                                    <p class="font-weight-light small-text mb-0 text-muted">
                                        Just now
                                    </p>
                                </div>
                            </a>
                            <a class="dropdown-item">
                                <div class="item-thumbnail">
                                    <div class="item-icon bg-warning">
                                        <i class="mdi mdi-settings mx-0"></i>
                                    </div>
                                </div>
                                <div class="item-content">
                                    <h6 class="font-weight-normal">Settings</h6>
                                    <p class="font-weight-light small-text mb-0 text-muted">
                                        Private message
                                    </p>
                                </div>
                            </a>
                            <a class="dropdown-item">
                                <div class="item-thumbnail">
                                    <div class="item-icon bg-info">
                                        <i class="mdi mdi-account-box mx-0"></i>
                                    </div>
                                </div>
                                <div class="item-content">
                                    <h6 class="font-weight-normal">New user registration</h6>
                                    <p class="font-weight-light small-text mb-0 text-muted">
                                        2 days ago
                                    </p>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li class="nav-item nav-profile dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
                            <img src="../../images/faces/face5.jpg" alt="profile" />
                            <span class="nav-profile-name">Louis Barnett</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
                            <a class="dropdown-item">
                                <i class="mdi mdi-settings text-primary"></i>
                                Settings
                            </a>
                            <a class="dropdown-item">
                                <i class="mdi mdi-logout text-primary"></i>
                                Logout
                            </a>
                        </div>
                    </li>
                </ul>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                    <span class="mdi mdi-menu"></span>
                </button>
            </div>
        </nav>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:../../partials/_sidebar.html -->
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/Login/Index">
                            <i class="mdi mdi-home menu-icon"></i>
                            <span class="menu-title">首页</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#ui-basic1" aria-expanded="false" aria-controls="ui-basic1">
                            <i class="mdi mdi-circle-outline menu-icon"></i>
                            <span class="menu-title">用户及部门管理</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="ui-basic1">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"><a class="nav-link" href="../ui-features1/UserShow.html">用户管理</a></li>
                                <li class="nav-item"><a class="nav-link" href="../ui-features1/DeptShow.html">部门管理</a></li>
                            </ul>
                        </div>
                    </li>

                    <!--！！！张俊雷！！！-->
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#ui-basicc" aria-expanded="false" aria-controls="ui-basicc">
                            <i class="mdi mdi-circle-outline menu-icon"></i>
                            <span class="menu-title">客户管理</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="ui-basicc">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"><a class="nav-link" href="../Carrier/Carrier.html">承运商管理</a></li>
                                <li class="nav-item"><a class="nav-link" href="../Carrier/Supplier.html">供应商管理</a></li>
                                <li class="nav-item"><a class="nav-link" href="../Carrier/Customer.html">客户管理</a></li>
                            </ul>
                        </div>
                    </li>
                    <!--！！！张俊雷！！！！-->

                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                            <i class="mdi mdi-circle-outline menu-icon"></i>
                            <span class="menu-title">库存管理①</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="ui-basic">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"><a class="nav-link" href="../ui-features/Delivery.html">发货记录</a>
                                <li class="nav-item"><a class="nav-link" href="../ui-features/Inventoryrecord.html">库存记录</a>
                                <li class="nav-item"><a class="nav-link" href="../ui-features/Inventorymove.html">库存移动</a>
                            </ul>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#ui-basic2" aria-expanded="false" aria-controls="ui-basic">
                            <i class="mdi mdi-circle-outline menu-icon"></i>
                            <span class="menu-title">库存管理②</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="ui-basic2">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"><a class="nav-link" href="../222z/Stockin.html">入库管理</a></li>
                                <li class="nav-item"><a class="nav-link" href="../222z/Stockout.html">出库管理</a></li>
                                <li class="nav-item"><a class="nav-link" href="../222z/Inventorys.html">库存查询</a></li>
                            </ul>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#ui-basic3" aria-expanded="false" aria-controls="ui-basic">
                            <i class="mdi mdi-circle-outline menu-icon"></i>
                            <span class="menu-title">库存管理③</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="ui-basic3">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"><a class="nav-link" href="ReservoirareaPage.html">仓库管理</a></li>
                                <li class="nav-item"><a class="nav-link" href="WarehousePage.html">库区管理</a></li>
                                <li class="nav-item"><a class="nav-link" href="StoragerackPage.html">货架管理</a></li>
                            </ul>
                        </div>
                    </li>

                </ul>
            </nav>
            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">
                    <table class="table table-bordered table-borderless">
                        <tr>
                            <td>

                                <button type="button" class="btn btn-inverse-warning btn-fw " data-toggle="modal" data-target="#myModal">新增仓库</button>
                                <input id="Button1" type="button" value="批量删除" class="btn btn-danger" onclick="delAll()" />
                            </td>
                            <td></td>

                            <td>仓库名称：<input id="names" type="text" /></td>


                            <td><input id="Button1" type="button" value="查询" onclick="Show(1)" class="btn btn-success" /></td>


                        </tr>
                    </table>
                    <table class="table table-bordered  table table-borderless">
                        <thead style="background-color:pink">
                            <tr>
                                <th><input class="top" type="checkbox" onclick="allSelect()" />全选/反选</th>
                                <th style="text-align: center;">操作</th>
                                <th style="text-align: center;">仓库编号</th>
                                <th style="text-align: center;">仓库名称</th>
                                <th style="text-align: center;">备注</th>
                                <th style="text-align: center;">创建者</th>
                                <th style="text-align: center;">创建时间</th>
                                <th style="text-align: center;">修改者</th>
                                <th style="text-align: center;">修改时间</th>

                            </tr>
                        </thead>
                        <tbody id="td"></tbody>
                    </table>


                    <table class="table">
                        <tr>
                            <td>总记录数<span id="TotalCount"></span>条</td>
                            <td>总共<span id="TotalPage"></span>页</td>
                            <td>当前第<span id="CurrentPage"></span>页</td>
                            <td style="text-align: center; color: black; font-family: STXingkai; font-weight: bolder; font-size: larger">
                                <input id="Button1" type="button" value="首页" onclick="Show(1)" class="btn btn-dark" />
                            </td>
                            <td style="text-align: center; color: black; font-family: STXingkai; font-weight: bolder; font-size: larger">
                                <input type="button" value="《" onclick="Show(currentPage - 1)" class="btn btn-dark" />
                            </td>
                            <td style="text-align: center; color: black; font-family: STXingkai; font-weight: bolder; font-size: larger">
                                <input type="button" value="》" onclick="Show(currentPage + 1)" class="btn btn-dark" />
                            </td>
                            <td style="text-align: center; color: black; font-family: STXingkai; font-weight: bolder; font-size: larger">
                                <input type="button" value="尾页" onclick="Show(totalPage)" class="btn btn-dark" />
                            </td>
                        </tr>
                    </table>
                </div>

                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- 模态框头部 -->
                <div class="modal-header">
                    <h4 class="modal-title" style="text-align: center;">添加新仓库</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- 模态框主体 -->
                <div class="modal-body">
                    <form class="forms-sample">
                        <div class="form-group row">
                            <label for="exampleInputUsername2" class="col-sm-3 col-form-label">仓库名称</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="rName" placeholder="仓库名称">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="exampleInputConfirmPassword2" class="col-sm-3 col-form-label">备注</label>
                            <div class="col-sm-9">

                                <textarea id="remark" rows="2" cols="20" class="form-control" placeholder="备注"></textarea>
                            </div>
                        </div>

                        <button type="button" class="btn btn-primary mr-2" onclick="Adds()">添加</button>
                        <button class="btn btn-light">关闭</button>
                    </form>
                </div>




            </div>

        </div>
    </div>



    <div class="modal fade" id="myModal2">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- 模态框头部 -->
                <div class="modal-header">
                    <h4 class="modal-title" style="text-align: center;">修改仓库</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- 模态框主体 -->
                <div class="modal-body">
                    <form class="forms-sample">
                        <div class="form-group row">
                            <label for="exampleInputUsername2" class="col-sm-3 col-form-label">仓库名称</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="rName2" placeholder="仓库名称">
                            </div>
                        </div>
                        
                        <div class="form-group row">
                            <label for="exampleInputConfirmPassword2" class="col-sm-3 col-form-label">备注</label>
                            <div class="col-sm-9">

                                <textarea id="remark2" rows="2" cols="20" class="form-control" placeholder="备注"></textarea>
                            </div>
                        </div>

                        <button type="button" class="btn btn-primary mr-2" onclick="Upt()">添加</button>
                        <button class="btn btn-light">关闭</button>
                    </form>
                </div>




            </div>

        </div>
    </div>

    <!-- container-scroller -->
    <!-- plugins:js -->

    <script src="../../vendors/base/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- inject:js -->

    <script src="../../js/off-canvas.js"></script>
    <script src="../../js/hoverable-collapse.js"></script>
    <script src="../../js/template.js"></script>

</body>

</html>

<!-- endinject -->
<script>
    $(function () {
        //BandSelWarehouse();
        Show(1);

    })

    var pageSize = 5;
    var currentPage = 1;
    var totalPage = 1;


    function Show(page) {

        $.ajax({
            url: 'http://localhost:63209/api/Warehouse/ShowWarehouse',
            type: 'get',
            dataType: 'json',
            data: { name: $("#names").val(), currentPage: page },
            success: function (d) {
                $("#TotalCount").text(d.totalCount)
                $("#TotalPage").text(d.totalPage)
                $("#CurrentPage").text(d.currentPage)
                //最大页
                totalPage = d.totalPage;
                //当前页
                currentPage = d.currentPage;

                $("#td").empty();
                $(d.warehouses).each(function () {

                    var line = '<tr>'
                        + '<td><input class="ckEmp" type="checkbox" value="' + this.warehouseId + '" /></td>'
                        + '<td><button type="button" class="btn btn-inverse-warning btn-fw " data-toggle="modal" data-target="#myModal2" onclick="Find(' + this.warehouseId + ')" >修改库区信息</button>&nbsp;<button type="button" class="btn btn-inverse-info btn-fw" onclick="del(' + this.warehouseId + ')" >删除仓库</button></td>'
                        + '<td>' + this.warehouseId + '</td>'
                        + '<td>' + this.warehouseName + '</td>'
                        + '<td>' + this.remark + '</td>'
                        + '<td>' + this.userNickname + '</td>'
                        + '<td>' + this.createDate + '</td>'
                        + '<td>' + this.userNickname2 + '</td>'
                        + '<td>' + this.modifiedDate + '</td>'
                        + '</tr>';
                    $("#td").append(line);
                })
            }

        })
    }
    //存值
    //function Setcookie(username, value) {

    //    //设置名称为name,值为value的Cookie
    //    var expdate = new Date();   //初始化时间
    //    expdate.setTime(expdate.getTime() + 30 * 60 * 1000);   //时间
    //    document.cookie = username + "=" + value + ";expires=" + expdate.toGMTString() + ";path=/";

    //    //即document.cookie= name+"="+value+";path=/";   时间可以不要，但路径(path)必须要填写，因为JS的默认路径是当前页，如果不填，此cookie只在当前页面生效！~
    //}
    //删除库区
    function del(id) {
        if (confirm("确认删除吗？")) {
            $.ajax({
                url: 'http://localhost:63209/api/Warehouse/DeleteWarehouse/'+id,
                type: 'delete',
                dataType: 'json',
                data: JSON.stringify({ storageRackId: id }),
                contentType: "application/json",
                success: function (d) {
                    if (d > 0) {
                        alert("操作成功！");
                        Show();
                    }
                    else {
                        alert('操作失败！');
                    }
                }
            })
        }
    }
    //全选和反选
    function allSelect() {
        if ($(".top").prop("checked")) {
            $(".ckEmp").prop("checked", true);
        }
        else {
            $(".ckEmp").each(function () {
                this.checked = !this.checked;
            })
        }
    }
    //批删
    function delAll() {
        if (confirm("确认删除吗？")) {
            //获取要删除的id
            var ids = [];
            $(".ckEmp:checked").each(function () {
                ids.push(this.value);
            })
            //判断
            if (ids.length == 0) {
                alert("请至少选中一条数据");
                return;
            }
            //删除
            $.ajax({
                url: "http://localhost:63209/api/Warehouse/DeleteWarehouse/" + ids,
                type: 'delete',
                dataType: 'json',
                data: JSON.stringify({ storageRackId: ids }),
                contentType: "application/json",
                success: function (d) {
                    if (d > 0) {
                        alert("成功删除了" + d + "条数据！");
                        Show(1);
                    }
                    else {
                        alert("删除失败");
                    }
                }
            })
        }
    }
    //绑定下拉方法
    //function BandSelWarehouse() {
    //    $.ajax({
    //        url: 'http://localhost:63209/api/Reservoirarea/BandSelWarehouse',
    //        type: 'get',
    //        dataType: 'json',
    //        //contentType: "application/json",
    //        success: function (d) {
    //            $("#wid").empty();
    //            $("#wid").append("<option value=''>--请选择--</option>");
    //            $(d).each(function () {
    //                var opt = "<option value=" + this.warehouseId + ">" + this.warehouseName + "</option>";
    //                $("#wid").append(opt);
    //            })
    //        }
    //    })
    //}


    //添加
    function Adds() {
        if ($("#rName").val() == "") {
            alert('请输入仓库名称！');
            return;
        }
        if ($("#remark").val() == "") {
            alert('请输入备注！');
            return;
        }
        var obj = {};
        obj.WarehouseName = $("#rName").val();
        obj.Remark = $("#remark").val();
        $.ajax({
            url: 'http://localhost:63209/api/Warehouse/PostWarehouse/',
            type: 'Post',
            data: JSON.stringify(obj),
            contentType: "application/json",
            dataType: 'json',
            success: function (d) {
                if (d > 0) {
                    alert('添加成功');
                    $("#rName").val("");
                    $("#Select1").val("");
                    $("#remark").val("");
                    Show(1);
                }
            }
        })
    }
    var ids2 = 0;
    //function GetId(id) {
    //    ids2 = id;
    //    Find();
    //}

    //反填
    function Find(id) {
        ids2 = id;
        $.ajax({
            url: 'http://localhost:63209/api/Warehouse/Find?id=' + id,
            type: 'get',
            contentType: "application/json",
            dataType: 'json',
            crossDomain: true,
            success: function (d) {
                $("#rName2").val(d.warehouseName);
                $("#remark2").val(d.remark);
            }
        })
    }
    //修改
    function Upt() {
        var obj = {};
        obj.WarehouseName = $("#rName2").val();
        obj.Remark = $("#remark2").val();
        obj.WarehouseId = ids2;
        $.ajax({
            url: 'http://localhost:63209/api/Warehouse/PutWarehouse',
            type: 'Put',
            data: JSON.stringify(obj),
            contentType: "application/json",
            dataType: 'json',
            success: function (d) {
                if (d > 0) {
                    alert('修改成功');
                    $("#rName2").val("");
                    $("#Select2").val("");
                    $("#remark2").val("");
                    Show(1);
                }
            }
        })
    }
</script> 




