
@{
    ViewData["Title"] = "Add";
}

<h2>Add</h2>
<table>
    <tr>
        <td>入库类型</td>
        <td>
            <select id="Select1">
                <option value="0">请选择</option>
                <option value="采购入库">采购入库</option>
                <option value="外协入库">外协入库</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>供应商</td>
        <td>
            <select id="Select2">
                <option value="0">请选择</option>
                <option value="1">天猫</option>
                <option value="2">淘宝</option>

            </select>
        </td>
    </tr>
    <tr>
        <td>备注</td>
        <td><textarea id="TextArea1" rows="2" cols="20"></textarea></td>
    </tr>
    <tr>
        <td></td>
        <td><input id="Button1" type="button" value="添加" class="btn-danger btn" onclick="Add()" /></td>
    </tr>
</table>
@section scripts{ 

<script>
    function Add() {
        var obj = {};
        obj.stockInType = $("#Select1").val();
        obj.supplierId = parseInt($("#Select2").val());
        obj.remark = $("#TextArea1").val();
        $.ajax({
            url: 'http://localhost:63209/api/Stockins/Post',
            type: 'Post',
            data: JSON.stringify(obj),
            contentType: "application/json",
            dataType:'json',
            success: function (d) {
                if (d > 0) {
                    alert('添加成功');
                    location.href = '/Stockins/Show';
                }
            }
        })
    }
</script>
}
